* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("BG22.jpeg");
    background-size: cover;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 64px;
  margin-top: 16px;
  font-size: 1.5rem;
}

nav ul li a {
    color: #fff;
}

nav ul .uenr {
    margin-top: -0.1rem;
    padding-top: 0.4rem;
    margin-right: -2rem;
}

nav ul .uenr a {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
     color:rgb(0, 72, 22);
     font-size: 3rem;
}

h1 {
    margin-top: 8rem;
    text-align: center;
    font-size: 4rem;
    color:#fff;
}

.logo img {
  width: 15rem;
  height: 20rem;
  margin-left: ;
}
  *{
    margin: 0px;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
    align-self:center;
  }
  *{ 
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin:50px 0;
  }
   .body p{
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("BG22.jpeg");
      background-size:cover;
    }
    .body h1{
      background-image:url(BG22.jpeg);
      background-size:cover;
      
    }